In [16]:
import pandas as pd

In [18]:
data = pd.read_csv('path')

In [19]:

from ctgan import CTGAN  # using the CTGAN package

# only selecting the numerical column 
rating_data = data[['Rating']]

# initialising the CTGAN model - surprisingly easy
ctgan = CTGAN()

ctgan.fit(rating_data, epochs=300)

In [20]:
# generating the synthetic data for the "Rating" column
synthetic_df = ctgan.sample(len(rating_data))


print(synthetic_df.head())

     Rating
0  2.224468
1  9.399925
2  2.120626
3  0.523495
4  4.299155

In [23]:
synthetic_df.to_csv('path')

In [21]:
data.describe()

       Unnamed: 0      Rating
count  404.000000  404.000000
mean   242.282178    5.429208
std    145.044477    1.759889
min      0.000000    1.000000
25%    114.750000    4.500000
50%    243.500000    5.600000
75%    369.250000    6.500000
max    490.000000   10.000000

In [22]:
synthetic_df.describe()

           Rating
count  404.000000
mean     5.877165
std      3.232494
min     -2.725539
25%      3.405142
50%      5.872741
75%      8.529467
max     13.525160